:root {
    --main-color: #4f46e5;
    --background: #e0e7ff;
    --font-white: #FFF;


}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
  }
  
* {
    box-sizing: border-box;
    font-family: roboto;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e7ff;
    margin-top: 1rem;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/**/

.app-title {
    text-align: center;
    color: var(--font-white);
    background-color: var(--main-color);
    padding: 2rem 4rem;
    margin-bottom: 2rem;
}
.main-container {
    min-height: 100vh;
    width: max-content;
    padding: 1rem;
    background-color: #FFF;
    border: 1px solid rgb(190,190,190);
}

caption {
    color: #FFF;
    background-color: #4f46e5;
    padding: 0.5rem 1rem;
}

table {
    border-collapse: collapse;
    height: 100%;
    width: 900px;
    border-right: 1px solid rgb(190,190,190);
    border-left: 1px solid rgb(190,190,190);
}

td, th {
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 20px;
}

th {
    background-color: #F6F6F6;
}

.start-aligned {
    text-align: start;
}

td:nth-child(3),
td:nth-child(4) {
    text-align: center 
}

td:nth-child(4),
td:nth-child(5) {
    color: #1d439b;
}

.title-column {
    min-width: 20rem;
}

.author-column {
    min-width: 15rem;
}

.read-column,
.pages-column,
.tag-column {
    min-width: 7rem;
}


/**/

.form-container {
    position: fixed;
    bottom: 3%;
    padding: 0.5rem 1rem;
    border: 1px solid #696969;
}

form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
}


#read-input {
    position: relative;
    top: 1.5px;
  }

label,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 5px;
  height: 30px;
}

#submit-book-button {
    background-color: #4f46e5;
    color: #FFF;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    margin-left: 2rem;
}

input:active {
    outline: #4f46e5;
}