:root {
    --main-color: #4f46e5;
    --background: #e0e7ff;
    --font-white: #FFF;
    --border-gray1: #BEBEBE;
    --border-gray2: #696969;
    --background-gray1: #F0F0F0;
    --background-gray2: #F8F8F8;

    --gap0: 0.25rem;
    --gap1: 0.5rem;
    --gap2: 1rem;
    --gap3: 1.5rem;
    --gap4: 2rem;

}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
  }
  
* {
    box-sizing: border-box;
    font-family: roboto;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    margin-top: var(--gap2);
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/**/

.app-title {
    text-align: center;
    color: var(--font-white);
    background-color: var(--main-color);
    padding: var(--gap4) 4rem;
    margin-bottom: var(--gap4);
}
.main-container {
    min-height: 100vh;
    width: max-content;
    padding: var(--gap2);
    background-color: var(--font-white);
    border: 1px solid var(--border-gray1);
}

caption {
    color: var(--font-white);
    background-color: var(--main-color);
    padding: var(--gap1) var(--gap2);
}

table {
    border-collapse: collapse;
    height: 100%;
    border-right: 1px solid var(--border-gray1);
    border-left: 1px solid var(--border-gray1);
}

td, th {
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 20px;
}

th {
    background-color: var(--background-gray1);
}

.start-aligned {
    text-align: start;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
    text-align: center
}

tbody>tr:nth-child(2n) td{
    background-color: var(--background-gray2);
}   

td:nth-child(4) {
    color: #1d439b;
}

.title-column {
    min-width: 20rem;
}

.author-column {
    min-width: 15rem;
}

.read-column,
.pages-column,
.tag-column {
    min-width: 7rem;
}

.remove-book-button {
    position: relative;
    top: 3px;
    height: 1.4rem; width: 1.4rem;
}

/**/

.form-container {
    position: fixed;
    bottom: 3%;
    padding: var(--gap1) var(--gap2);
    border: 1px solid var(--border-gray2);
}

form {
    display: flex;
    align-items: center;
    gap: var(--gap2);
}

.checkbox-container {
    display: flex;
    align-items: center;
}

#read-input {
    position: relative;
    top: 1.5px;
  }

label,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 5px;
  height: var(--gap4);
}

#pages-input {
    width: 6rem;
}
#submit-book-button {
    background-color: var(--main-color);
    color: var(--font-white);
    border-radius: 4px;
    padding: var(--gap0) var(--gap1);
    margin-left: var(--gap4);
}

input:focus {
    outline-color: var(--main-color);
}

#alert {
    position: absolute;
    bottom: 55px;
    left: 40%;
    padding: var(--gap1) var(--gap3);
    color: var(--font-white);
    background-color: red;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
