@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
  }
  
* {
    box-sizing: border-box;
    font-family: roboto;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fef3c7;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/**/

.app-title {
    text-align: center;
    color: #FFF;
    background-color: #fbbf24;
    padding: 2rem 4rem;
    margin-bottom: 2rem;
}
.main-container {
    min-height: 100vh;
    width: max-content;
    padding: 1rem;
    background-color: #FFF;
    border: 1px solid rgb(190,190,190);
}

caption {
    background-color: #d97706;
    padding: 0.5rem 1rem;
}

table {
    border-collapse: collapse;
    height: 100%;
    border-right: 1px solid rgb(190,190,190);
    border-left: 1px solid rgb(190,190,190);
}

td, th {
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 20px;
}

th {
    background-color: #F6F6F6;
}

.start-aligned {
    text-align: start;
}

td:nth-child(3),
td:nth-child(4) {
    text-align: center 
}

.title-column {
    width: 25rem;
}

.author-column {
    width: 15rem;
}

/**/

.form-container {
    position: fixed;
    bottom: 3%;
    padding: 0.5rem 1rem;
    border: 1px solid black;
}

form {
    display: flex;
    gap: 1rem;
}